<!DOCTYPE html>
<html>
<head>
    <title>Image Converter</title>
    </head>
<body>
    <h1>Image Converter</h1>
    <form id="upload_image" action="./upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
    </form>
    <br>
    {% if image_url %}
        <div><a href="./download/{{ file_name }}">Download</a></div>
        <br>
        <h2>Uploaded Image:</h2>
        <img src="{{ image_url }}" alt="Uploaded Image" style="width: 800px;height: auto">
    {% endif %}
</body>
</html>